# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Tools/MissingFilesSearch/MissingFilesSearch/bin/Debug/MissingFilesSearch.exe
/Tools/MissingFilesSearch/MissingFilesSearch/bin/Debug/MissingFilesSearch.pdb
/Tools/MissingFilesSearch/MissingFilesSearch/bin/Debug/MissingFilesSearch.vshost.exe
/Tools/MissingFilesSearch/MissingFilesSearch/bin/Debug/MissingFilesSearch.vshost.exe.manifest
/Tools/MissingFilesSearch/MissingFilesSearch/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Tools/MissingFilesSearch/MissingFilesSearch/obj/Debug/MissingFilesSearch.csproj.FileListAbsolute.txt
/Tools/MissingFilesSearch/MissingFilesSearch/obj/Debug/MissingFilesSearch.csprojResolveAssemblyReference.cache
/Tools/MissingFilesSearch/MissingFilesSearch/obj/Debug/MissingFilesSearch.exe
/Tools/MissingFilesSearch/MissingFilesSearch/obj/Debug/MissingFilesSearch.pdb
